body {
  font-family: "Instrument Sans", sans-serif;
} 

.contact-container {
  padding: 40px;
  background: #000;
  min-height: calc(100vh - 120px); 
  color: #fff;
}

.title {
  font-size: 40px;
  font-weight: 700;
  color: #8cff3d;
  margin-bottom: 20px;
}

.contact-box {
  background: #dcdcdc;
  padding: 220px 3px;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.contact-box h2 {
  font-size: 36px;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}

.contact-number {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 80px;
  color: #000;
}

.visit-title {
  margin-top: 40px;
}

.address {
  font-size: 28px;
  font-weight: 600;
  color: #000;
}