body {
  font-family: "Instrument Sans", sans-serif;
} 

.page-container {
  padding: 30px 30px;
  background: #111;
  color: white;
  min-height: 75vh;
  margin-top: 110px; /* add this */
}

.title {
  font-size: 40px;
  font-weight: 700;
}

.title span {
  color: #8cff3d;
}

.subtitle {
  margin-top: -6px;
  margin-bottom: 20px;
  opacity: 0.7;
}

.table-card {
  background: #1b1b1b;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0 10px #0006;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #141414;
}

th {
  padding: 14px;
  text-align: left;
  border-bottom: 2px solid #2a2a2a;
  font-weight: 600;
}

td {
  padding: 14px;
  border-bottom: 1px solid #2b2b2b;
}

tbody tr:hover {
  background: #222;
}
